.game-field {
    display: grid;
    grid-template-columns: auto auto auto;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
    gap: 4px;
    width: min-content;
  }
  
  .game-field_cell {
    background: #e0d9d9;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    padding: 10px;
  }
  
  .reset-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;
    margin: 10px auto auto auto;
  }
  
  